<div th:fragment="calendarFragment">
    <h1 th:text="${month}">Month</h1>
    <table class="calendar">
      <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="week : ${weeks}">
        <td th:each="day : ${week}">

          <div class="day-cell" th:href="@{/mealcraft/home/day}">
            <div class="day-number"
                 th:text="${day != null ? day.dayOfMonth : ''}"></div>

            <div class="slots">
              <div th:each="slotIdx : ${#numbers.sequence(0,5)}">
                                <span th:with="cell=${day != null and dayEventMap.containsKey(day) and dayEventMap.get(day).size() > slotIdx ? dayEventMap.get(day).get(slotIdx) : null}"
                                      th:text="${cell != null ? (cell.isStart ? 'COOK ' : '') + cell.name : ''}"
                                      th:classappend="${cell != null ? (cell.isStart ? ' slot-start' : (cell.isEnd ? ' slot-end' : ' slot-middle')) : ''}"
                                      th:style="${cell != null ? 'background-color:' + cell.color : ''}"
                                      th:class="${cell != null ? ('event' + (cell.isStart ? '-start' : (cell.isEnd ? '-end' : ''))) : ''}">
                                </span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>
