<div th:fragment="dayFragment">
    <h1 th:text="'Date: ' + ${day}">Date</h1>

    <div class="info-blocks">
        <div th:each="slotIdx : ${#numbers.sequence(0,5)}">
            <div th:with="cell=${day != null and dayEventMapForDay.containsKey(day) and dayEventMapForDay.get(day).size() > slotIdx ? dayEventMapForDay.get(day).get(slotIdx) : null}"
                  th:text="${cell != null ? (cell.planDate==dayDate ? 'COOK ' : '') + cell.name : ''}"
                  th:style="${cell != null ? 'background-color:' + cell.color : ''}">
            </div>

            <div th:with="cell=${day != null and dayEventMapForDay.containsKey(day) and dayEventMapForDay.get(day).size() > slotIdx ? dayEventMapForDay.get(day).get(slotIdx) : null}"
                 th:text="${cell != null ? 'STATUS ' + cell.status : ''}"
                 th:style="${cell != null ? 'background-color:' + cell.color : ''}">
            </div>

            <div th:with="cell=${day != null and dayEventMapForDay.containsKey(day) and dayEventMapForDay.get(day).size() > slotIdx ? dayEventMapForDay.get(day).get(slotIdx) : null}"
                 th:text="${cell != null ? 'Servings ' + cell.servings : ''}"
                 th:style="${cell != null ? 'background-color:' + cell.color : ''}">
            </div>

        </div>
    </div>

    <a href="/mealcraft/home/add-meal-plan">Add dish cooking session</a>
    <a href="/mealcraft/home">Back to Calendar</a>
</div>
