<div th:fragment="header" class="header">
    <div class="header-left">
        <a href="/mealcraft/home" class="logo">
            <span>MealCraft</span>
        </a>
        <a href="/mealcraft/craft">
            <img src="/images/pickaxe.png" alt="craft" class="craft-icon">
        </a>
    </div>

    <div class="header-right">
        <div class="user-menu">
            <span class="username" th:text="${username} ?: 'A'"></span>
            <div class="dropdown">
                <a href="/mealcraft/settings">Settings</a>
                <a href="/mealcraft/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
