<div th:fragment="header" class="header">
    <div class="header-left">
        <a th:href="@{/mealcraft/admin}" class="logo">
            <span>MealCraft ADMIN PAGE</span>
        </a>
    </div>

    <div class="header-right">
        <div class="user-menu">
            <span class="username" th:text="${username} ?: 'admin'"></span>
            <div class="dropdown">
                <a th:href="@{/mealcraft/admin/profile}">Profile</a>
                <a th:href="@{/mealcraft/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
