<div th:fragment="content">
    <h2 th:text="${title}">Plan your meal</h2>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>

    <form id="meal-plan-form"
          th:action="@{/mealcraft/meals/save}"
          th:object="${mealPlan}"
          method="post">

        <input type="hidden" id="id"  th:field="*{id}">
        <input type="hidden" id="userOwnerId" th:field="*{userOwnerId}">
        <input type="hidden"
               id="planDate"
               th:value="${#dates.format(mealPlan.planDate, 'yyyy-MM-dd')}"
               name="planDate">
        <input type="hidden" id="status" th:field="*{status}">
        <input type="hidden" id="recipeId" th:field="*{recipeId}">

        <div>
            <label for="recipe-input-box" style="margin-bottom: 10px">Choose recipe:</label>

            <div class="search-box">
                <div class="row">
                    <input type="text" class="recipe-input-box" id="recipe-input-box" placeholder="Start typing here"
                           autocomplete="off" th:value="${mealPlan.id != null ? mealPlan.name : ''}">
                </div>
                <div class="result-box">
                </div>
            </div>

            <input id="name"
                   type="hidden"
                   th:field="*{name}"
                   required>
        </div>

        <div style="margin-top: 16px;">
            <label for="servings">Servings:</label>

            <div class="servings-wrapper">
                <button type="button" id="minus-btn" class="servings-btn">−</button>

                <input id="servings"
                       type="text"
                       th:field="*{servings}"
                       value="1"
                       readonly>

                <button type="button" id="plus-btn" class="servings-btn">+</button>
            </div>
        </div>

        <div>
            <label for="colorI">Choose color:</label>
            <div class="color-picker">
                <div th:each="c : ${mealColors}" class="color-circle-wrapper">
                    <label>
                        <input id="colorI"
                               type="radio"
                               name="color"
                               th:value="${c.hex}"
                               th:field="*{color}"
                               class="color-radio">

                        <span class="color-circle"
                              th:style="'background-color:' + ${c.hex}"></span>
                        ㅤ
                    </label>
                </div>
            </div>
        </div>


        <div style="margin-top: 16px;">
            <button type="submit"
                    th:text="${mealPlan.id} == null ? 'Add' : 'Save'">
                Add
            </button>

            <a th:href="@{'/mealcraft/home/' + ${#dates.format(mealPlan.planDate, 'yyyy-MM-dd')}}"
               style="margin-left: 10px; text-decoration: none;">
                <button type="button">Cancel</button>
            </a>

            <a th:href="@{'/mealcraft/meals/delete/' + ${mealPlan.id}}"
               th:if="${mealPlan.id} != null"
               style="margin-left: 10px; text-decoration: none;">
                <button type="button">Delete</button>
            </a>
        </div>
    </form>

    <script th:inline="javascript">
        let recipes = /*[[${recipeList}]]*/ [];
        if (recipes.length === 0)
            recipes = ['sonarQube']
        const resultsBox = document.querySelector(".result-box")
        const inputBox = document.querySelector(".recipe-input-box")

        inputBox.onkeyup = function () {
            let result = []
            let input = inputBox.value;
            if (input.length) {
                result = recipes.filter((recipe) => {
                    return recipe.name.toLowerCase().includes(input.toLowerCase());
                });
                console.log(result)
            }
            display(result);
        }

        function display(result) {

            if (result.length === 0 && inputBox.value.length > 0) {
                resultsBox.innerHTML = `
            <ul>
                <li class="no-result">
                    <button type="button"
                            onclick="createCustomRecipe()"
                            style="width: 100%; padding: 6px; cursor: pointer;">
                        + Create your own recipe
                    </button>
                </li>
            </ul>
        `;
                return;
            }


            const content = result.map((oneRecipe) => {
                return `<li onclick="selectRecipe(this)" data-id="${oneRecipe.id}">${oneRecipe.name}</li>`;
            });
            resultsBox.innerHTML = "<ul>" + content.join('') + "</ul>";
        }

        function selectRecipe(oneRecipe) {
            inputBox.value = oneRecipe.innerHTML;
            document.getElementById("recipeId").value = oneRecipe.dataset.id;
            resultsBox.innerHTML = '';
        }

        const servingsInput = document.getElementById("servings");
        const plusBtn = document.getElementById("plus-btn");
        const minusBtn = document.getElementById("minus-btn");

        plusBtn.onclick = function () {
            servingsInput.value = Number.parseInt(servingsInput.value) + 1;
        };

        minusBtn.onclick = function () {
            let current = Number.parseInt(servingsInput.value);
            if (current > 1) {
                servingsInput.value = current - 1;
            }
        };

        function selectColor(circle) {
            const circles = document.querySelectorAll('.color-circle');
            for (const el of circles) {
                el.classList.remove('selected');
            }
            const radios = document.querySelectorAll('.color-radio');
            for (const radio of radios) {
                radio.checked = false;
            }
            circle.classList.add('selected');
            circle.previousElementSibling.checked = true;

            document.querySelector('input[name="color"]').value = circle.dataset.value;
        }

        function createCustomRecipe() {
            globalThis.location.href = '/mealcraft/home/recipes/create';
        }

    </script>
</div>
