<div th:fragment="content">
    <h2 th:text="${title}">Users</h2>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Created</th>
            <th>User owner id</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="n : ${data}">
            <td th:text="${n.id}"></td>
            <td th:text="${n.text}"></td>
            <td th:text="${n.createdAt}"></td>
            <td th:text="${n.ownerUserId}"></td>

        </tr>
        </tbody>
    </table>

</div>
