<div th:fragment="content">
    <h2 th:text="${title}">Create product</h2>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>

    <form th:action="@{/mealcraft/admin/product}"
          th:object="${product}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <div>
            <label for="name">Product name:</label>
            <input id="name"
                   type="text"
                   th:field="*{name}"
                   required>
        </div>

        <div>
            <label for="imageUrl">Image URL:</label>
            <input id="imageUrl"
                   type="text"
                   th:field="*{imageUrl}">
        </div>

        <div>
            <label for="defaultUnit">Default unit:</label>
            <select id="defaultUnit"
                    th:field="*{defaultUnitId}">
                <option th:each="u : ${units}"
                        th:value="${u.id}"
                        th:text="${u.name}">
                </option>
            </select>
        </div>

        <div>
            <button type="submit"
                    th:text="${product.id} == null ? 'Add' : 'Save'">
                Add
            </button>
        </div>

    </form>
</div>
