<div th:fragment="content">
    <h2 th:text="${title}">Recipes</h2>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>

    <a th:href="@{/mealcraft/admin/recipe/new}">+ Add recipe</a>
    <a th:href="@{/mealcraft/admin/recipe/import}">+ Add random recipe</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${data}">
            <td th:text="${r.id}"></td>

            <td>
                <a th:href="@{|/mealcraft/admin/recipe/view/${r.id}|}"
                   th:text="${r.name}">Recipe name</a>
            </td>

            <td th:text="${r.createdAt}"></td>

            <td>
                <img th:if="${r.imageUrl != null}"
                     th:src="${r.imageUrl}"
                     alt="recipe image"
                     height="50">
            </td>

            <td>
                <a th:href="@{|/mealcraft/admin/recipe/new-from/${r.id}|}">Create based on</a>
                |
                <a th:href="@{|/mealcraft/admin/recipe/edit/${r.id}|}">Edit</a>
                |
                <a th:href="@{|/mealcraft/admin/recipe/delete/${r.id}|}"
                   onclick="return confirm('Are you sure you want to delete this recipe?');">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
