<div th:fragment="sidebar" class="sidebar">
  <ul class="sidebar-menu">
    <li><a class="" th:href="@{/mealcraft/user}"><i class="icon_document_alt"></i>Users</a></li>
    <li><a class="" th:href="@{/mealcraft/recipe}"><i class="icon_document_alt"></i>Recipes</a></li>
    <li><a class="" th:href="@{/mealcraft/product}"><i class="icon_document_alt"></i>Products</a></li>
    <li><a class="" th:href="@{/mealcraft/unit}"><i class="icon_document_alt"></i>Units</a></li>
    <li><a class="" th:href="@{/mealcraft/notification}"><i class="icon_document_alt"></i>Notifications</a></li>
    <li><a class="" th:href="@{/mealcraft/shopping-item}"><i class="icon_document_alt"></i>Shopping items</a></li>
    <!--
    <li><a class="" th:href="@{/worker}" th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"><i
            class="icon_document_alt"></i>Працівники</a></li>
    <li><a class="" th:href="@{/review}" th:if="${#authorization.expression('hasAuthority(''Менеджер'')')}"><i
            class="icon_document_alt"></i>Відгуки</a></li> -->
  </ul>
</div>




