.calendar {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar th, .calendar td {
    border: 1px solid #ccc;
    width: 14.28%;
    height: 100px;
    text-align: right;
    vertical-align: top;
    position: relative;
}

.day-cell {
    cursor: pointer;
    transition: background-color 0.2s;
    height: 120px;
}

.day-cell:hover {
    background-color: #f0f0f0;
}

.day-cell .day-number {
    padding: 10px;
}

.calendar td {
    position: relative;
    height: 40px;
}

.calendar .slots span {
    display: block;
    height: 20px;
    background-color: transparent;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 12px;
}

.calendar .slots span.event {
    display: block;
    width: 100%;
}

.calendar .slots span.event-start {
    display: block;
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.calendar .slots span.event-end {
    display: block;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.calendar .slots span.event:not(.event-start):not(.event-end) {
    border-radius: 0;
}
